#hex-view
	padding: 12px 0;

.hex-page
	@media #{$mq-desktop}
		margin: 20px;

.ascii-field,
.hex-field
	width: 25px;
	height: 25px;
	background-color: rgba(0,0,0,0);
	border: none;
	text-align: center;
	font-size: 1.1em;

	@media #{$mq-desktop}
		font-size: 1.3em;
		width: 32px;
		height: 32px;

	&:focus
		outline: none;
		background-color: $col-active;

	&.active
		background-color: $col-active;
		color: $col-inv;


.hex-row,
.ascii-row
	display: inline-block;
	width: 50%;

	@media #{$mq-desktop}
		width: auto;

.ascii-row
	@media #{$mq-desktop}
		margin-left: 40px;

.section-tools
	padding: 12px 0;

	input
		border: none;
		padding: 2px;
		width: 56px;

	.inline-on-desktop
		@media #{$mq-desktop-before}
			margin: 0 0 12px 12px;