#hex-view
	padding: 12px 0;
	@media #{$mq-desktop}
		display: inline-block;

.hex-page
	@media #{$mq-desktop}
		margin: 20px;

input.ascii-field,
input.hex-field
	width: 25px;
	height: 25px;
	background-color: rgba(0,0,0,0);
	border: none;
	text-align: center;
	font-size: 1.1em;
	font-family: "Roboto Mono", monospace;

	&[maxlength="4"]
		width: 50px;

	&[maxlength="8"]
		width: 100px;

	&[maxlength="16"]
		width: 200px;

	@media #{$mq-desktop}
		font-size: 1.3em;
		width: 32px;
		height: 32px;

		&[maxlength="4"]
			width: 64px;

		&[maxlength="8"]
			width: 128px;

		&[maxlength="16"]
			width: 256px;


	&:focus
		outline: none;

	&.active
		background-color: $col-font-info;
		color: $col-inv;


.hex-row,
.ascii-row
	display: inline-block;
	width: 50%;

	@media #{$mq-desktop}
		width: auto;

.ascii-row
	@media #{$mq-desktop}
		margin-left: 40px;

.section-tools
	padding: 12px 0;

	@media #{$mq-desktop}
		display: inline-block;
		position: fixed;
		padding: 12px;

	input
		border: none;
		padding: 2px;
		width: 56px;

	.inline-on-desktop
		@media #{$mq-desktop-before}
			margin: 0 0 12px 12px;

	.control-button
		margin: 12px 12px 0 12px;
		@media #{$mq-desktop}
			margin: 12px 0 0 0;