* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fefefe;
  color: #333333;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

#content {
  width: 100%;
  height: 100%;
  overflow-y: hidden; }

.static-info {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  font-size: .5em; }

@media (min-width: 1200px) {
  .inline-on-desktop {
    display: inline; } }

a {
  text-decoration: none;
  cursor: pointer; }
  a:active, a:visited, a:hover {
    text-decoration: none; }

.back-btn {
  color: #333333; }
  .back-btn:active, .back-btn:visited, .back-btn:hover {
    color: #333333; }
  .back-btn svg {
    fill: #fefefe;
    transform: translateY(4px); }

.btn {
  user-select: none;
  padding: 4px 12px;
  margin: 0 5px 0 0;
  color: #fefefe;
  background-color: #2196F3;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  white-space: nowrap;
  display: inline-block; }
  .btn:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.header {
  background-color: #2196F3;
  height: 80px;
  display: flex;
  justify-content: space-between; }
  .header .headline {
    font-family: "Roboto Mono", monospace;
    color: #fefefe;
    height: 100%;
    display: inline;
    user-select: none; }
    .header .headline h1 {
      display: inline;
      padding: 0;
      margin: 0 12px;
      height: 100%;
      line-height: 80px;
      cursor: default; }
  .header .toggle-settings {
    height: 100%;
    display: inline;
    margin: 0 12px;
    user-select: none; }
    .header .toggle-settings a {
      display: block;
      color: #fefefe; }
      .header .toggle-settings a:hover {
        color: #fefefe; }
    .header .toggle-settings i {
      line-height: 80px;
      font-size: 2em; }

.pages {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .pages .page {
    position: absolute;
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: auto;
    margin-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 1200px) {
      .pages .page {
        padding: 12px; } }
    @media (min-width: 1200px) {
      .pages .page .page-entry {
        margin: auto;
        max-width: 650px; } }
    .pages .page .page-entry .page-entry-header {
      width: 100%;
      height: 40px;
      background-color: #1E88E5;
      color: #fefefe; }
      .pages .page .page-entry .page-entry-header .back-btn {
        color: inherit;
        padding: 0 6px 0 12px;
        user-select: none; }
        .pages .page .page-entry .page-entry-header .back-btn i {
          transform: translateY(4px); }
      .pages .page .page-entry .page-entry-header h3 {
        display: inline;
        font-size: 24px;
        line-height: 40px;
        font-family: "Roboto Mono", monospace; }
    .pages .page .page-entry .page-paragraph-end {
      height: 36px; }
    .pages .page .page-entry .page-entry-form-label label {
      display: block;
      margin-top: 24px;
      margin-bottom: 3px;
      color: #757575; }
    .pages .page .page-entry .page-entry-form-label select,
    .pages .page .page-entry .page-entry-form-label input {
      padding: 3px;
      border-radius: 0;
      width: 256px;
      font-size: 1.2em;
      border: none;
      border-bottom: 2px solid #448AFF;
      background-color: transparent;
      color: #757575;
      transition: all 200ms ease-out; }
      .pages .page .page-entry .page-entry-form-label select:focus,
      .pages .page .page-entry .page-entry-form-label input:focus {
        outline: none;
        color: #333333;
        border-bottom-color: #2962FF; }

#uploader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #uploader a {
    display: block;
    position: absolute;
    fill: #fefefe;
    background-color: #2196F3;
    border-radius: 100%;
    padding: 8px;
    cursor: pointer;
    height: 112px;
    width: 112px; }
    #uploader a svg {
      fill: #fefefe; }
    #uploader a.drop-ready {
      background-color: #4CAF50; }

.up-func-cont {
  width: 112px;
  height: 112px;
  overflow: hidden; }

#up-status {
  position: absolute;
  width: 112px;
  height: 112px;
  background-color: #FF5722;
  border-radius: 100%;
  transform: scale(1.1);
  opacity: 0;
  transition: background-color 200ms ease-in-out;
  cursor: pointer; }

.soft-blink {
  opacity: 1;
  animation: -soft-blink 800ms ease-in-out infinite; }

@keyframes -soft-blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.done {
  opacity: 1 !important;
  background-color: #4CAF50 !important; }

.toast-position {
  position: fixed;
  bottom: 0;
  width: 100%; }

#toast-container {
  display: flex;
  flex-direction: column;
  transition: all 200ms ease-out; }
  #toast-container .toast {
    margin: auto;
    width: 100%;
    background-color: #333333;
    margin-bottom: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px; }
    @media (min-width: 1200px) {
      #toast-container .toast {
        width: 420px; } }
    #toast-container .toast p {
      padding: 21px 36px;
      margin: 0;
      color: #fefefe;
      font-size: 1.2em; }

#hex-view {
  padding: 12px 0; }
  @media (min-width: 1200px) {
    #hex-view {
      display: inline-block; } }

@media (min-width: 1200px) {
  .hex-page {
    margin: 20px; } }

input.ascii-field,
input.hex-field {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1.1em;
  font-family: "Roboto Mono", monospace; }
  input.ascii-field[maxlength="3"],
  input.hex-field[maxlength="3"] {
    width: 50px; }
  input.ascii-field[maxlength="4"],
  input.hex-field[maxlength="4"] {
    width: 75px; }
  input.ascii-field[maxlength="5"],
  input.hex-field[maxlength="5"] {
    width: 100px; }
  input.ascii-field[maxlength="6"],
  input.hex-field[maxlength="6"] {
    width: 125px; }
  input.ascii-field[maxlength="7"],
  input.hex-field[maxlength="7"] {
    width: 150px; }
  input.ascii-field[maxlength="8"],
  input.hex-field[maxlength="8"] {
    width: 175px; }
  input.ascii-field[maxlength="9"],
  input.hex-field[maxlength="9"] {
    width: 200px; }
  input.ascii-field[maxlength="10"],
  input.hex-field[maxlength="10"] {
    width: 225px; }
  input.ascii-field[maxlength="11"],
  input.hex-field[maxlength="11"] {
    width: 250px; }
  input.ascii-field[maxlength="12"],
  input.hex-field[maxlength="12"] {
    width: 275px; }
  input.ascii-field[maxlength="13"],
  input.hex-field[maxlength="13"] {
    width: 300px; }
  input.ascii-field[maxlength="14"],
  input.hex-field[maxlength="14"] {
    width: 325px; }
  input.ascii-field[maxlength="15"],
  input.hex-field[maxlength="15"] {
    width: 350px; }
  input.ascii-field[maxlength="16"],
  input.hex-field[maxlength="16"] {
    width: 375px; }
  @media (min-width: 1200px) {
    input.ascii-field,
    input.hex-field {
      font-size: 1.3em;
      width: 32px;
      height: 32px; }
      input.ascii-field[maxlength="3"],
      input.hex-field[maxlength="3"] {
        width: 48px; }
      input.ascii-field[maxlength="4"],
      input.hex-field[maxlength="4"] {
        width: 64px; }
      input.ascii-field[maxlength="5"],
      input.hex-field[maxlength="5"] {
        width: 80px; }
      input.ascii-field[maxlength="6"],
      input.hex-field[maxlength="6"] {
        width: 96px; }
      input.ascii-field[maxlength="7"],
      input.hex-field[maxlength="7"] {
        width: 112px; }
      input.ascii-field[maxlength="8"],
      input.hex-field[maxlength="8"] {
        width: 128px; }
      input.ascii-field[maxlength="9"],
      input.hex-field[maxlength="9"] {
        width: 144px; }
      input.ascii-field[maxlength="10"],
      input.hex-field[maxlength="10"] {
        width: 160px; }
      input.ascii-field[maxlength="11"],
      input.hex-field[maxlength="11"] {
        width: 176px; }
      input.ascii-field[maxlength="12"],
      input.hex-field[maxlength="12"] {
        width: 192px; }
      input.ascii-field[maxlength="13"],
      input.hex-field[maxlength="13"] {
        width: 208px; }
      input.ascii-field[maxlength="14"],
      input.hex-field[maxlength="14"] {
        width: 224px; }
      input.ascii-field[maxlength="15"],
      input.hex-field[maxlength="15"] {
        width: 240px; }
      input.ascii-field[maxlength="16"],
      input.hex-field[maxlength="16"] {
        width: 256px; } }
  input.ascii-field:focus,
  input.hex-field:focus {
    outline: none; }
  input.ascii-field.active,
  input.hex-field.active {
    background-color: #757575;
    color: #fefefe; }

.hex-row,
.ascii-row {
  display: inline-block;
  width: 50%; }
  @media (min-width: 1200px) {
    .hex-row,
    .ascii-row {
      width: auto; } }

@media (min-width: 1200px) {
  .ascii-row {
    margin-left: 40px; } }

.section-tools {
  padding: 12px 0; }
  @media (min-width: 1200px) {
    .section-tools {
      display: inline-block;
      position: fixed;
      padding: 12px; } }
  .section-tools input {
    border: none;
    padding: 2px;
    width: 56px; }
  @media (max-width: 1199px) {
    .section-tools .inline-on-desktop {
      margin: 0 0 12px 12px; } }
  .section-tools .control-button {
    margin: 12px 12px 0 12px; }
    @media (min-width: 1200px) {
      .section-tools .control-button {
        margin: 12px 0 0 0; } }

#toggle-settings {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }
  #toggle-settings svg {
    fill: #fefefe; }

.settings-menu {
  position: absolute;
  right: 14px;
  top: 63px;
  z-index: 10; }
  .settings-menu #settings-menu {
    transform-origin: top right;
    display: none;
    animation: -show-menu 200ms forwards; }
    .settings-menu #settings-menu.show-menu {
      display: block; }
    .settings-menu #settings-menu ul {
      list-style-type: none;
      background-color: #fefefe;
      padding: 0;
      margin: 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 4px; }
      .settings-menu #settings-menu ul li {
        padding: 0;
        margin: 0;
        display: block; }
        .settings-menu #settings-menu ul li.list-separator {
          height: 2px;
          background-color: #333333;
          opacity: .3; }
        .settings-menu #settings-menu ul li a {
          display: block;
          padding: 8px 24px;
          font-size: 1.2em;
          color: #333333;
          user-select: none;
          cursor: pointer; }
          .settings-menu #settings-menu ul li a:hover {
            background-color: rgba(0, 0, 0, 0.1); }

@keyframes -show-menu {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@media (min-width: 1200px) {
  .hide-on-desktop {
    display: none; } }

@media (max-width: 1199px) {
  .hide-before-desktop {
    display: none; } }

.info {
  color: #757575; }
