* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fefefe;
  color: #333333;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

#content {
  width: 100%;
  height: 100%;
  overflow-y: hidden; }

.static-info {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  font-size: .5em; }

@media (min-width: 1200px) {
  .inline-on-desktop {
    display: inline; } }

a {
  text-decoration: none;
  cursor: pointer; }
  a:active, a:visited, a:hover {
    text-decoration: none; }

.back-btn {
  color: #333333; }
  .back-btn:active, .back-btn:visited, .back-btn:hover {
    color: #333333; }

.btn {
  user-select: none;
  padding: 4px 12px;
  margin: 0 5px 0 0;
  color: #fefefe;
  background-color: #2196F3;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  white-space: nowrap;
  display: inline-block; }
  .btn:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.header {
  background-color: #2196F3;
  height: 80px;
  display: flex;
  justify-content: space-between; }
  .header .headline {
    font-family: "Roboto Mono", monospace;
    color: #fefefe;
    height: 100%;
    display: inline;
    user-select: none; }
    .header .headline h1 {
      display: inline;
      padding: 0;
      margin: 0 12px;
      height: 100%;
      line-height: 80px;
      cursor: default; }
  .header .toggle-settings {
    height: 100%;
    display: inline;
    margin: 0 12px;
    user-select: none; }
    .header .toggle-settings a {
      display: block;
      color: #fefefe; }
      .header .toggle-settings a:hover {
        color: #fefefe; }
    .header .toggle-settings i {
      line-height: 80px;
      font-size: 2em; }

.pages {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .pages .page {
    position: absolute;
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: auto;
    margin-bottom: 100px; }
    @media (min-width: 1200px) {
      .pages .page {
        padding: 12px; } }
    @media (min-width: 1200px) {
      .pages .page .page-entry {
        margin: auto;
        max-width: 650px; } }
    .pages .page .page-entry .page-entry-header {
      width: 100%;
      height: 40px;
      background-color: #1E88E5;
      color: #fefefe; }
      .pages .page .page-entry .page-entry-header .back-btn {
        color: inherit;
        padding: 0 6px 0 12px;
        user-select: none; }
        .pages .page .page-entry .page-entry-header .back-btn i {
          transform: translateY(4px); }
      .pages .page .page-entry .page-entry-header h3 {
        display: inline;
        font-size: 24px;
        line-height: 40px;
        font-family: "Roboto Mono", monospace; }
    .pages .page .page-entry .page-paragraph-end {
      height: 36px; }
    .pages .page .page-entry .page-entry-form-label label {
      display: block;
      margin-top: 24px;
      margin-bottom: 3px;
      color: #757575; }
    .pages .page .page-entry .page-entry-form-label input {
      padding: 3px;
      border-radius: 0;
      width: 256px;
      font-size: 1.2em;
      border: none;
      border-bottom: 2px solid #448AFF;
      background-color: transparent;
      color: #757575;
      translate: all 200ms ease-out; }
      .pages .page .page-entry .page-entry-form-label input:focus {
        outline: none;
        color: #333333;
        border-bottom-color: #2962FF; }

#uploader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #uploader i {
    position: absolute;
    font-size: 6em;
    color: #fefefe;
    background-color: #2196F3;
    border-radius: 100%;
    padding: 8px;
    cursor: pointer; }
    #uploader i.drop-ready {
      background-color: #4CAF50; }

.up-func-cont {
  width: 112px;
  height: 112px;
  overflow: hidden; }

#up-status {
  position: absolute;
  width: 112px;
  height: 112px;
  background-color: #FF5722;
  border-radius: 100%;
  transform: scale(1.1);
  opacity: 0;
  transition: background-color 200ms ease-in-out;
  cursor: pointer; }

.soft-blink {
  opacity: 1;
  animation: -soft-blink 800ms ease-in-out infinite; }

@keyframes -soft-blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.done {
  opacity: 1 !important;
  background-color: #4CAF50 !important; }

.toast-positioner {
  display: flex;
  justify-content: center; }

#toast {
  position: fixed;
  bottom: -100%;
  min-height: 60px;
  color: #fefefe;
  background-color: #333333;
  margin: 0 12px 12px 12px;
  border-radius: 4px;
  max-width: 730px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  #toast p {
    margin: 0;
    padding: 12px 24px;
    font-size: 1.2em; }

.show {
  animation: -show-toast 200ms forwards; }

@keyframes -show-toast {
  0% {
    bottom: -100%; }
  100% {
    bottom: 0; } }

.hide {
  animation: -hide-toast 200ms forwards; }

@keyframes -hide-toast {
  0% {
    bottom: 0; }
  100% {
    bottom: -100%; } }

#hex-view {
  padding: 12px 0; }
  @media (min-width: 1200px) {
    #hex-view {
      display: inline-block; } }

@media (min-width: 1200px) {
  .hex-page {
    margin: 20px; } }

.ascii-field,
.hex-field {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1.1em; }
  @media (min-width: 1200px) {
    .ascii-field,
    .hex-field {
      font-size: 1.3em;
      width: 32px;
      height: 32px; } }
  .ascii-field:focus,
  .hex-field:focus {
    outline: none;
    background-color: #2962FF; }
  .ascii-field.active,
  .hex-field.active {
    background-color: #2962FF;
    color: #fefefe; }

.hex-row,
.ascii-row {
  display: inline-block;
  width: 50%; }
  @media (min-width: 1200px) {
    .hex-row,
    .ascii-row {
      width: auto; } }

@media (min-width: 1200px) {
  .ascii-row {
    margin-left: 40px; } }

.section-tools {
  padding: 12px 0; }
  @media (min-width: 1200px) {
    .section-tools {
      display: inline-block;
      position: fixed;
      padding: 12px; } }
  .section-tools input {
    border: none;
    padding: 2px;
    width: 56px; }
  @media (max-width: 1199px) {
    .section-tools .inline-on-desktop {
      margin: 0 0 12px 12px; } }

#toggle-settings {
  cursor: pointer; }

.settings-menu {
  position: absolute;
  right: 12px;
  top: 70px;
  z-index: 10; }
  .settings-menu #settings-menu {
    transform-origin: top right;
    display: none;
    animation: -show-menu 200ms forwards; }
    .settings-menu #settings-menu.show-menu {
      display: block; }
    .settings-menu #settings-menu ul {
      list-style-type: none;
      background-color: #fefefe;
      padding: 0;
      margin: 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 4px; }
      .settings-menu #settings-menu ul li {
        padding: 0;
        margin: 0;
        display: block; }
        .settings-menu #settings-menu ul li.list-separator {
          height: 2px;
          background-color: #333333; }
        .settings-menu #settings-menu ul li a {
          display: block;
          padding: 8px 24px;
          font-size: 1.2em;
          color: #333333;
          user-select: none;
          cursor: pointer; }
          .settings-menu #settings-menu ul li a:hover {
            background-color: rgba(0, 0, 0, 0.1); }

@keyframes -show-menu {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@media (min-width: 1200px) {
  .hide-on-desktop {
    display: none; } }
